
<h1 class="p-3 text-center">Practice gorest sample app</h1>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button type="button" (click)="updateName()">add user</button>
</div>